# 01-Basic: Pandas essentials
For these exercises, we are going to be using the [Pandas](https://pandas.pydata.org/about/) Python package, so the first thing to do is to import Pandas. To do this, click on the code block below and press the 'Run' button to the left.

In [1]:
import pandas as pd

## Creating data
Pandas uses `DataFrame` to store and manipulate data. Run the code below to create a `DataFrame` using some simple test data. Here we have used the `head()` method to show (part of) the `DataFrame`.

In [2]:
df_test = pd.DataFrame(data=[['1','2',3.0],[4,5,6],[0.07,88.0,999]],columns=['A','B','C'])
df_test.head()

      A     B      C
0     1     2    3.0
1     4     5    6.0
2  0.07  88.0  999.0

### Exercise-01: Heads and tails
Try running the above code with `head()` replaced by `head(1)`, `head(2)`, and `head(3)`, respectively. Similarly, try running the above code with `head()` replaced by `tail(1)`, `tail(2)`, and `tail(3)`, respectively. What do `head()` and `tail()` do?

In [3]:
#Try your code here

df_test.head(5)

      A     B      C
0     1     2    3.0
1     4     5    6.0
2  0.07  88.0  999.0

## Saving data
Often it is useful to save data. For example, we can save the previous test data to a comma-separated values (`.csv`) file by running the following code. After you have run the code, identify *where* the file was saved (i.e. which folder?).

In [4]:
df_test.to_csv('./test.csv')

### Exercise-02: Parents and siblings
Sometimes we need to save/load data not in the current directory. Run the code below to save the same test data to two other locations. After you have run the code, identify *where* the files were saved.

In [5]:
df_test.to_csv('../data/test_sibling.csv')

Before we move on, let's clean up the mess you made! Run the code below to remove the test `.csv` files we just created.

In [6]:
!rm ../data/test_sibling.csv

(Note that the above code uses `!` to run terminal commands from inside a notebook!) Cool, no?

## Loading data
Ok, let's get started with some *real* data. To work with real data, we first need to load it. If the data is in a `.csv` file then we can load the data simply using the Pandas `read_csv` function. Run the code below to load the `Cn_Manufacturer_Sample.csv` data into a Pandas `DataFrame`.

In [8]:
import pandas as pd
df_listings = pd.read_csv('../data/Cn_Manufacturer_Sample.csv', 
    usecols=['Symbol','Grant Invention Patent'])
df_listings.head()

   Symbol  Grant Invention Patent
0    2130                      22
1  300090                       1
2  300018                       8
3  300134                      27
4  300222                       1

The data you just loaded relates to real company data I used in a research artile that examining the company's big data analytics capability on their operational efficiency, sampled from a dataset from CSMAR, annual reports, and company's annoucement. Note how the `usecols` argument was used to specify which columns of the data to load.

### Exercise-03: Load host data
Now it's time to try to load some data yourself. Using the code above as a guide, load the `Cn_Manufacturer_Sample.csv` file into a data-frame named `df_variables` with columns `['BigDataCapability','Operational Efficiency_2016','OperationalCost','EstablishYear']`.

In [9]:
# (SOLUTION)
df_variables = pd.read_csv('../data/Cn_Manufacturer_Sample.csv', 
    usecols=['BigDataCapability','Operational Efficiency_2016','OperationalCost','EstablishYear'])
df_variables.head()

,BigDataCapability,Operational Efficiency_2016,OperationalCost,EstablishYear
0,3,0.846481,"$1,621,422,082.00",2004
1,1,0.816365,"$1,640,325,013.00",1997
2,4,0.450007,"$270,961,136.00",2001
3,3,0.910745,"$2,060,760,425.00",2009
4,1,0.730516,"$857,886,299.80",2002

## Preparing data
Often the data we load for analysis comes with values we cannot immediately work with, and we need to remove or format such (undefind) values to be able to do the analysis we want to do. 

For example, some of the companies in `df_variables` have undefind values in the `Operational Efficiency_2016`. We can see this by running the code below to show the rows in `df_variables` where the value in `Operational Efficiency_2016` is `nan` (i.e. [not a number](https://en.wikipedia.org/wiki/NaN)). The `nan` here is due to the missing data issues.

**You must finish Exercise-03 Load host data where you define `df_variables`**.

In [10]:
df_variables[df_variables['Operational Efficiency_2016'].isna()].head()

,BigDataCapability,Operational Efficiency_2016,OperationalCost,EstablishYear
27,3,NaN,"$2,548,257,966.00",1998
47,1,NaN,"$97,964,520.85",1992
57,1,NaN,"$5,433,566,703.00",1981
89,2,NaN,"$419,038,000.40",2001
98,1,NaN,"$4,953,173,491.00",2003

We can use similar logic to filter `df_variables` (or any other `DataFrame`) to exclude any rows where a particulr column has value `nan`. For example, run the code below to remove `nan` values from `df_variables`. Note the use of the `~` character to indicate we want to keep rows that are *not* `nan`.

In [ ]:
df_variables = df_variables[~df_variables['Operational Efficiency_2016'].isna()]
print(sum(df_variables['Operational Efficiency_2016'].isna())) # Explain this check!

As well as undefined values, columns might also contain values in a format which is unsuitable for a particular type of analysis. For example, the values in the `EstablishYear` column of `df_variables` are [strings](https://www.w3schools.com/python/python_strings.asp) and would need to be formated it as `int` if we wanted to calculate, for example, getting the Firm Age. Run the code below to use the `apply` method to do such a thing.

In [11]:
def Firm_Age(EstablishYear):
    return(2015 - int(EstablishYear))

df_variables['Firm_Age'] = df_variables['EstablishYear'].apply(Firm_Age)
df_variables.head()

,BigDataCapability,Operational Efficiency_2016,OperationalCost,EstablishYear,Firm_Age
0,3,0.846481,"$1,621,422,082.00",2004,11
1,1,0.816365,"$1,640,325,013.00",1997,18
2,4,0.450007,"$270,961,136.00",2001,14
3,3,0.910745,"$2,060,760,425.00",2009,6
4,1,0.730516,"$857,886,299.80",2002,13

### Exercise-04: Format price data
The `Operational Cost` column in `df_variables` also contains strings, with currency symbols (e.g.`$`) and commas (e.g. `1,000,000`), and we would need to format these string values to float values before we can use them in analysis. Using the above example as a guide, use the `format_price` function defined below to create a new column `Operational Cost_$` in `df_variables` which contains a float value version of the price of the listing in $.

Hint: **modify** the command from last cell - `df_variables['Firm_Age'] = df_variables['EstablishYear'].apply(Firm_Age)`

In [12]:
def Operational_Cost_Format(OperationalCost):
    return(float(OperationalCost.replace('$','').replace(',','')))

# (SOLUTION)
df_variables['Operational Cost_$'] = df_variables['OperationalCost'].apply(Operational_Cost_Format)
df_variables.head()

,BigDataCapability,Operational Efficiency_2016,OperationalCost,EstablishYear,Firm_Age,Operational Cost_$
0,3,0.846481,"$1,621,422,082.00",2004,11,1.621422e+09
1,1,0.816365,"$1,640,325,013.00",1997,18,1.640325e+09
2,4,0.450007,"$270,961,136.00",2001,14,2.709611e+08
3,3,0.910745,"$2,060,760,425.00",2009,6,2.060760e+09
4,1,0.730516,"$857,886,299.80",2002,13,8.578863e+08

## Querying data
Once we have loaded and formatted our data *then* the fun times begin! Pandas is great for *querying* `DataFrames` (i.e. filtering a `DataFrame` to create a new `DataFrame` which includes only the data we want!). For example, run the code below to use `df_variables` to create a new `DataFrame` names `df_transformed_level_capability` which contains companies that have the value of `BigDatCapability` larger than 3.

In [13]:
df_transformed_level_capability = df_variables[df_variables['BigDataCapability']>3]
df_transformed_level_capability.head()

,BigDataCapability,Operational Efficiency_2016,OperationalCost,EstablishYear,Firm_Age,Operational Cost_$
2,4,0.450007,"$270,961,136.00",2001,14,2.709611e+08
5,4,0.847869,"$4,569,247,183.00",1997,18,4.569247e+09
18,4,0.901556,"$10,123,000,358.00",1998,17,1.012300e+10
19,4,0.830554,"$13,349,904,816.00",1999,16,1.334990e+10
22,4,0.882433,"$1,810,032,938.00",1999,16,1.810033e+09

### Exercise-05: Identify firms with high innovation
Using the above code as a guide, use `df_listings` to create a new `DataFrame` named `df_listings_high_innovate` which contains company which the number of grant invention patent is more than 30.

In [16]:
# (SOLUTION)
df_listings_high_innovate=df_listings[df_listings['Grant Invention Patent']>30]
df_listings_high_innovate.head(5)

    Symbol  Grant Invention Patent
8   601179                      34
13    2050                      39
34    2046                      45
41    2056                      34
43      16                     101

## Inspect the code
Have a play around with above code. If the notebooks breaks, then just restart it.

When you feel confident with the code in this notebook, then try `02-Advanced.ipynb`.

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=2c6f047c-21a6-4149-814c-b3f60a9bf973' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>